<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohangoyal2014.dreeco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_with_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_with_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.FirstTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.RegisterActivity"
            android:parentActivityName=".controllers.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controllers.MallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".controllers.LoginActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controllers.MallActivity"></activity>
    </application>

</manifest>